@font-face {
    font-family: 'Circular';
    src: url('fonts/Circular/CircularStd-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype');
}

@media (orientation: landscape) {
  .flex-box, .header{
    flex-direction: row;
  }

  .header {
    height : 100px;
  }

  .logo-img {
    height : 90px;
  }

  .home {
    margin-left : auto;
    width : 90px;
    margin-right : 20px;
    margin-top : auto;
    margin-bottom : auto;
  }

  .flex-box {
    width : 100%;
  }

  .what, .who {
    flex-direction: row;
  }

  .members {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .flex-box, .header{
    flex-direction: column;
  }

  .header {
    height : 120px;
  }

  .logo-img {
    height : 70px;
  }

  .home {
    margin : 2px auto;
    width : 85px;
    margin-bottom: 4px;
  }

  .flex-box > div {
    max-height : 48%;
    min-height : 48%;
  }

  .what, .who {
    flex-direction: column;
  }

  .members {
    flex-direction: column;
  }

  .members > div {
    width: 260px;
  }
}

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    background-color : #def2f1;
    font-family: 'Circular', sans-serif;
}

/* -----------HEADER---------------*/

.header {
    display : flex;
    color : #fff;
    position : fixed;
    top : 0;
    left : 0;
    z-index: 999;
    background : #17252a;
    text-align : center;
    width: 100%;
}



.home {
    height : 40%;
    padding : 2px;
    text-align: center;
    background-color: #def2f1;
    border-radius : 30px;
}

.home-text {
    margin-bottom : auto;
    margin-top : 5px;
    font-size : 18px;
    color : #17252a;
}

.home {
    text-decoration: none;
}

.home:hover {
    background-color : #c2e5d6;
}



/* ----------- About page elements ------------ */

.header-txt {
    font-size : 35px;
    margin-top: 150px;
    text-align: center;
    font-family: 'Comfortaa';
    font-weight: 700;
    font-style: bold;
}

.what, .who {
    display: flex;
    margin: 20px auto;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #feffff;
    border-radius : 10px;
    box-shadow : 7px 8px 6px #5a5a5a;
    padding: 20px;
}

.what > *, .who > * {
    margin: 20px auto;
    padding: 20px 20px;
}

.what-title > .color, .who-title > .color {
    color: #78c9c5;
}

.what-title, .who-title {
    font-size: 30px;
    font-family: 'Comfortaa';
    line-height: 1.2;
    font-weight: 700;
    font-size: bold;
    flex: 1;
}

.what-para {
    flex: 2;
    border-radius: 30px;
    box-shadow : 3px 3px 3px #5a5a5a;
    line-height: 1.5;
    font-size: 18px;
}

.who-content {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.members {
    display: flex;
    flex: 3;
    min-width: 98%;
    margin: 10px auto;
}

.indira {
    margin: 10px auto;
}

.indira > img{
    flex: 1;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;
    border-radius: 30px;
    box-shadow : 3px 3px 3px #5a5a5a;
}

.details {
    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;
    font-size: 16px;
    border-radius: 30px;
    box-shadow : 3px 3px 3px #5a5a5a;
    text-align: center;
    padding: 10px;
}

.members > div {
    flex: 1;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;
    font-size: 16px;
    flex-direction: column;
    border-radius: 30px;
    box-shadow : 3px 3px 3px #5a5a5a;
    text-align: center;
    padding: 10px;
}

.mem-image {
    height: 60px;
    margin: 10px auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.mem-name {
    margin: 10px auto;
    font-size: 18px;
}

.rollno {
    font-size: 14px;
    margin: 10px auto;
}

/* ----------- FOOTER ---------- */

.footer {
    color : #fff;
    margin : 0px auto;
    background : rgba(0, 0, 0, 0.6);
    text-align : center;
    width: 100%;
    height: 90px;
    padding: 4px;
}

.grp {
    margin : 2px 2px;
    font-size : 16px;
}

.copy {
    font-size : 14px;
    margin : 2px;
}

