@font-face {
    font-family: 'Circular';
    src: url('fonts/Circular/CircularStd-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype');
}

@media (orientation: landscape) {
  .flex-box, .header{
    flex-direction: row;
  }

  .header {
    height : 100px;
  }

  .logo-img {
    height : 90px;
  }

  .about {
    margin-left : auto;
    width : 90px;
    margin-right : 20px;
    margin-top : auto;
    margin-bottom : auto;
  }

  .flex-box {
    width : 100%;
    min-height : 70vh;
  }

  .f1 {
    width : 400px;
  }

  /*
  .footer {
    color : #fff;
    margin : 0px auto;
    position : fixed;
    bottom : 0;
    left : 0;
    background : rgba(0, 0, 0, 0.6);
    text-align : center;
    width: 100%;
    height: 90px;
  }
*/
  .amazon {
    background-image: url("/static/green-side.svg");
    background-position: bottom;
}


}

@media (orientation: portrait) {
  .flex-box, .header{
    flex-direction: column;
  }

  .header {
    height : 120px;
  }

  .logo-img {
    height : 70px;
  }

  .flex-box > div{
      min-height : 35vh;
  }

  .about {
    margin : 2px auto;
    width : 85px;
    margin-bottom: 4px;
  }

  .f1 {
    width : 400px;
  }

  .amazon {
    background-image: url("/static/green-inverted.svg");
    background-position: top;
  }
}

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body {
    background-color : #f0f9f9;
    font-family: 'Circular', sans-serif;
}

/* -----------HEADER---------------*/

.header {
    display : flex;
    color : #fff;
    position : fixed;
    top : 0;
    left : 0;
    z-index: 999;
    background : #17252a;
    text-align : center;
    width: 100%;
}



.about {
    height : 40%;
    padding : 2px;
    text-align: center;
    background-color: #def2f1;
    border-radius : 30px;
}

.about-text {
    margin-bottom : auto;
    margin-top : 5px;
    font-size : 18px;
    color : #17252a;
}

.about {
    text-decoration: none;
}

.about:hover {
    background-color : #c2e5d6;
}

/* ----------- SEARCH BOX --------------- */

#name-user, #btn {
    font-size : 18px;
    font-family : 'Circular';
    padding : 6px;
    border : 0;
}

#name-user {
    margin-top : 5px;
    width : 100%;
    outline : none;
    background: transparent;
}

#btn {
    cursor: pointer;
    position: absolute;
    right: -1px;
    top: 1px;
    background-color: #17252a;
    border-radius: 30px;
    color: #FFF;
    width: 15%;
    height: 47px;
    outline: 0;
}

#btn:hover {
    background-color: #41766f;
}

.f1 {
    background-color: #feffff;
    border-radius: 30px;
    position : relative;
    padding: 0px 50px 0px 10px;
    margin : 0px auto;
    margin-top : 0px;
    margin-bottom: 20px;
    height : 47px;
    border : none;
    /*box-shadow : 3px 3px 0px #263d45;*/
    box-shadow: rgba(24, 38, 43, 0.15) 2.95px 2.95px 2.6px;
}

.waver {
    width: 100%;
}
.wave img {
    width: 100%;
    max-height: 200px;
    margin-top: 100px;
    margin-bottom: 0px;
}

/* ----------- FLIPKART and AMAZON BOX --------------- */

.flex-box {
    display : flex;
    border-radius : 10px;
}

.flex-box > div {
    flex : 1;
    background-color: #feffff;
    margin: 10px;
    padding: 15px;
    border-radius : 10px;
    box-shadow: rgba(24, 38, 43, 0.15) 4.95px 4.95px 2.6px;
}

.flipkart, .amazon {
    display : flex;
    flex-direction: column;
}

.flipkart, .amazon {
    background-repeat: no-repeat;
    background-size: 100%;
}

.flipkart {
    background-image:  url("/static/green-straight.svg");
    background-position: bottom;
}

.win {
    color : #fff;
    background-color: #17252a;
    border-radius: 20px;
    margin: 5px 5px;
    padding: 6px;
    vertical-align: top;
}

.product-title {
    flex : 2;
    width : 95%;
    padding : 2px 2px;
    font-size : 18px;
    margin : 10px auto;
    text-align: center;
    border-radius : 30px;
    vertical-align: middle;
    box-shadow: rgba(24, 38, 43, 0.15) 2.95px 2.95px 2.6px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    align-items: center;
}

.site-image {
    min-height : 80px;
    max-height : 80px;
    display: block;
    flex : 1.5;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    /*box-shadow : 4px 4px 0px #263d45;*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 0px;
}

.product-link, .product-price {
    flex : 1;
    text-align : center;
    font-size : 18px;
    vertical-align: middle;
    padding : 2px 2px;
    margin : 10px auto;
    border-radius: 30px;
    box-shadow: rgba(24, 38, 43, 0.15) 2.95px 2.95px 2.6px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    align-items: center;
}

.product-price {
    width : 90px;
    min-height : 34px !important;
}

.product-link {
    text-decoration: none;
    min-height : 34px !important;
    width : 90px;
}
.product-image {
    flex : 3;
    display : block;
    max-height : 270px;
    min-height : 270px;
    max-width : 92%;
    margin-left: auto;
    margin-right: auto;
    border-radius : 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 0px;
    background-color: #fff;
}

.link-image {
    max-height : 20px;
}

/* ----------- FOOTER ---------- */

.footer {
    color : #000000;
    margin : 0px auto;
    margin-top: 60px;
    background-color: #cfe8e7;
    text-align : center;
    width: 100%;
    height: 90px;
    padding: 4px;
}

.grp {
    margin : 2px 2px;
    font-size : 16px;
}

.copy {
    font-size : 14px;
    margin : 2px;
}
