<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Comparatea | About</title>
        <link rel="stylesheet" href='/static/styles-about.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class = "header">
            <div class = "header-logo">
                <a href="/"><img class = "logo-img" src = "/static/comparatea-light.png"></a>
            </div>
            <a href = "/" class = "home">
                <h4 class = "home-text">Home</h4>
            </a>
        </div>

        <h3 class = "header-txt">About Comparatea</h3>

        <div class = "footer">
            <p class = "grp"><b>Project by : SE B2_1</b></p>
            <a href = "https://github.com/kosspbl/comparatea">
                <i class="fa fa-github" style="color:white;font-size:35px;"></i>
            </a>
            <p class = "copy">koss &copy <script>document.write(new Date().getFullYear())</script></p>
        </div>

    </body>
</html>
