<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Comparatea | About</title>
        <link rel="stylesheet" href='/static/styles-about.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class = "header">
            <div class = "header-logo">
                <a href="/"><img class = "logo-img" src = "/static/comparatea-light.png"></a>
            </div>
            <a href = "/" class = "home">
                <h4 class = "home-text">Home</h4>
            </a>
        </div>

        <h2 class = "header-txt">About Comparatea</h2>

        <div class = "what">
            <div class = "what-title">
                <span>What is</span> 
                <br>
                <span class = "color">Comparatea</span>
            </div>
            <p class = "what-para">
                Comparatea makes comparing products on different websites a cup of 'tea'. Hence the name Comparatea. Using BeautifulSoup(bs4) we scrape flipkart.com and amazon.in and display the cheapest product available on both sites along with name, picture and link. We are using bubble sorting algorithm to sort product according to the prices. Flask(Python library) is used as backend and simple Html and CSS as frontend.
            </p>
        </div>

        <div class = "who">
            <div class = "who-title">
                <span>Who</span> 
                <br>
                <span class = "color">We Are</span>
            </div>
            <div class = "who-content">

                <div class = "indira">
                    <img src="/static/icem-logo.png">
                </div>

                <p class= "details">
                     <b>Students of ICEM</b>
                     <br>
                     <b>Class & Branch:</b> Second Year Computer Engineering
                     <br>
                     <b>Div & Group:</b> B B2_1
                </p>

                <div class = "members">

                    <div class = "mem3">
                        <img src="/static/animal-image3.png" class = "mem-image">
                        <h4 class= "mem-name">Shoaib Tamboli</h4>
                        <span class = "rollno">22233</span>
                    </div>

                    <div class = "mem2">
                        <img src="/static/animal-image2.png" class = "mem-image">
                        <h4 class= "mem-name">Om Pawar</h4>
                        <span class = "rollno">22235</span>
                    </div>

                    <div class = "mem1">
                        <img src="/static/animal-image1.png" class = "mem-image">
                        <h4 class= "mem-name">Kushal Swamy</h4>
                        <span class = "rollno">22236</span>
                    </div>


                    <div class = "mem4">
                        <img src="/static/animal-image4.png" class = "mem-image">
                        <h4 class= "mem-name">Swetank Upadhyay</h4>
                        <span class = "rollno">22242</span>
                    </div>
                </div>

            </div>
        </div>

        <div class = "footer">
            <p class = "grp"><b>Project by : SE B2_1</b></p>
            <a href = "https://github.com/kosspbl/comparatea">
                <i class="fa fa-github" style="color:black;font-size:40px;"></i>
            </a>
            <p class = "copy">koss &copy <script>document.write(new Date().getFullYear())</script></p>
        </div>

    </body>
</html>
