<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>
            Comparatea | Home
        </title>
        <link rel="stylesheet" href='/static/styles.css'>
        <!-- Load icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

        <div class = "header">
            <div class = "header-logo">
                <a href="/"><img class = "logo-img" src = "/static/comparatea-light.png"></a>
            </div>
            <a href = "/about" class = "about">
                <h4 class = "about-text">About</h4>
            </a>
        </div>

        <div class = "wave">
            <img src ="/static/wave.png">
        </div>

        <div class = "f1">
         <form action = "{{url_for("index_page")}}" method = "post" id = "form1">
                 <input autocomplete="off" autofocus type="text" id="name-user" name="name" placeholder = "Search : e.g. Keyboard">
                 <button id = "btn" type="submit" form = "form1"><i class="fa fa-search"></i></button>
         </form>
        </div>

        <div class = "flex-box">

            <div class = "flipkart">
                <img class = "site-image" src="/static/flipkart-color.png">
                <div class = "product-title"><b class = "win">{{result01}}</b>{{result1}}</div>
                <div class ="product-price"> {{resultp1}}</div>
                <a class = "product-link" href = "{{result2}}">
                    <img class = "link-image" src="/static/flipkart.png">
                    <i class="fa fa-link" style="color:black;font-size:20px;"></i>
                </a>
                <img class = "product-image" src = "{{result3}}">
            </div>

            <div class = "amazon">
                <img class = "site-image" src="/static/amazon-color.png">
                <div class = "product-title"><b class = "win">{{result02}}</b>{{result4}}</div>
                <div class = "product-price">{{resultp2}}</div>
                <a class = "product-link" href = "{{result5}}">
                    <img class = "link-image" src="/static/amazon.png">
                    <i class="fa fa-link" style="color:black;font-size:20px;"></i>
                </a>

                <img class = "product-image" src = "{{result6}}">
            </div>

        </div>

        <div class = "footer">
            <p class = "grp"><b>Project by : SE B2_1</b></p>
            <a href = "https://github.com/kosspbl/comparatea">
                <i class="fa fa-github" style="color:black;font-size:40px;"></i>
            </a>
            <p class = "copy">koss &copy <script>document.write(new Date().getFullYear())</script></p>
        </div>

    </body>
</html>
